* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}

.video {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 0;
}

.video::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  content: "";
  z-index: 1;
  background: #3b84848d;
}

.video video {
  width: auto;
  height: auto;
}

.content-data {
  position: relative;
  width: 65vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.content-data::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  transform: skewX(-9deg);
  transform-origin: top right;
}

.Content-detail {
  width: 40rem;
  margin: auto;
  position: relative;
  z-index: 99;
  padding-left: 2rem;
  padding-right: 9rem;
}

.text {
  display: block;
}

.text h2 {
  font-size: 48px;
  color: #fff;
  font-style: italic;
  font-weight: 600;
}

.Time {
  display: flex;
  margin-top: 40px;
  gap: 15px;
}

#Day {
  background: #4f4f51;
  height: 90px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  color: #fff;
  flex-direction: column;
}

#Day h2 {
  font-size: 15px;
  color: rgb(199 199 199);
  font-weight: 500;
  margin-top: 5px;
}

#Hour {
  background: #4f4f51;
  height: 90px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  color: #fff;
  flex-direction: column;
}

#Hour h2 {
  font-size: 15px;
  color: rgb(199 199 199);
  font-weight: 500;
  margin-top: 5px;
}

#Minutes {
  background: #4f4f51;
  height: 90px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  color: #fff;
  flex-direction: column;
}

#Minutes h2 {
  font-size: 15px;
  color: rgb(199 199 199);
  font-weight: 500;
  margin-top: 5px;
}

#Second {
  background: #4f4f51;
  height: 90px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  color: #fff;
  flex-direction: column;
}

#Second h2 {
  font-size: 15px;
  color: rgb(199 199 199);
  font-weight: 500;
  margin-top: 5px;
}

.SearchBox {
  display: block;
  margin-top: 40px;
}

form {
  display: flex;
  gap: 10px;
}

.form {
  display: block;
}

.form input {
  width: 320px;
  border: solid 1px #ff0000;
  height: 55px;
  padding: 0px 8px;
  font-size: 16px;
  color: #666;
  border-radius: 5px;
  outline: none;
}

.form input:focus {
  outline: solid 2px #ff0000;
}

button {
  width: 150px;
  background: #1e3b3b;
  border: none;
  color: #a8aaaa;
  height: 55px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  transition: 0.6s;
}

button:hover {
  background: #262626;
  color: #fff;
}

#error {
  color: #ff0000;
  font-size: 16px;
  margin-top: 10px;
  display: block;
  font-weight: 500;
}

.Icon {
  position: absolute;
  right: 50px;
  z-index: 99;
  top: 50%;
  transform: translateY(-50%);
}

.IconData {
  display: flex;
  background: #000;
  height: 70px;
  width: 70px;
  margin: 30px 0px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: 0.6s;
}

.IconData:hover {
  background: #262626;
}

.IconData i {
  font-size: 20px;
  color: #fff;
}

@media screen and (min-device-width: 500px) and (max-device-width: 991px) {
  .content-data {
    width: 100%;
    height: 75vh;
  }

  .content-data::after {
    transform: none;
  }

  .Content-detail {
    width: 29rem;
    padding-left: 0;
    padding-right: 0;
  }

  .Time {
    gap: 34px;
  }

  .text h2 {
    font-size: 29px;
  }

  .Icon {
    bottom: 0;
    top: 87%;
    display: flex;
    left: 0;
    justify-content: center;
    gap: 33px;
    width: 100%;
  }

  .Icon a .IconData {
    margin: 0;
  }
}

@media screen and (min-device-width: 435px) and (max-device-width: 499px) {
  .content-data {
    width: 100%;
    height: 75vh;
  }

  .content-data::after {
    transform: none;
  }

  .Content-detail {
    width: 25rem;
    padding-left: 0;
    padding-right: 0;
  }
  .text {
    display: flex;
    flex-wrap: wrap;
  }

  .text h2 {
    font-size: 25px;
  }

  .SearchBox .form input {
    width: 270px;
  }

  .SearchBox button {
    width: 127px;
  }

  .Icon {
    bottom: 0;
    top: 87%;
    display: flex;
    left: 0;
    justify-content: center;
    gap: 33px;
    width: 100%;
  }

  .Icon a .IconData {
    margin: 0;
  }
}

@media screen and (min-device-width: 0px) and (max-device-width: 434px) {
  .content-data {
    width: 100%;
    height: 75vh;
  }

  .content-data::after {
    transform: none;
  }

  .Content-detail {
    width: 22rem;
    padding-left: 8px;
    padding-right: 8px;
  }

  #Day {
    height: 75px;
    font-size: 15px;
  }

  #Day h2 {
    font-size: 13px;
  }

  #Hour {
    height: 75px;
    font-size: 15px;
  }

  #Hour h2 {
    font-size: 13px;
  }

  #Minutes {
    height: 75px;
    font-size: 15px;
  }

  #Minutes h2 {
    font-size: 13px;
  }

  #Second {
    height: 75px;
    font-size: 15px;
  }

  #Second h2 {
    font-size: 13px;
  }

  .text {
    display: flex;
    flex-wrap: wrap;
  }

  .text h2 {
    font-size: 31px;
  }

  .SearchBox .form input {
    width: 235px;
  }

  .SearchBox button {
    width: 127px;
  }

  .Icon {
    bottom: 0;
    top: 87%;
    display: flex;
    left: 0;
    justify-content: center;
    gap: 33px;
    width: 100%;
  }

  .Icon a .IconData {
    margin: 0;
  }
}
